/.vscode
/AI-211206
/baidu_search.html
/BBN_Organization.csv
/bug_list.xlsx
/CQSUBSYS211206
/jd_comments.txt
/jira_projects.txt
/kfc_stores.txt
/makeup_ents.json
/sanguo.txt
/work_list.xlsx
/__pycache__